.app-container__logo {
  display: block;
  width: 182px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
}

.app-container__link {
  color: #09d3ac;
}

@media screen and (min-width: 768px) {
  .app-container__logo {
    margin-top: 142px;
    width: 315px;
    height: 69px;
  }
}
