@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("./fonts/GothamPro-Black.woff2") format("woff2"),
    url("./fonts/GothamPro-Black.woff2") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("./fonts/GothamPro-Medium.woff2") format("woff2"),
    url("./fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("./fonts/GothamPro-Bold.woff2") format("woff2"),
    url("./fonts/GothamPro-Bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
