.header {
  display: grid;
  height: inherit;
}

.header__container {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
}

.header__massages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__search-field {
  margin-top: 20px;
}

.header__massages-title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #ffffff;
}

.header__counter {
  display: table-cell;
  vertical-align: middle;
  height: 24px;
  background-color: red;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .header__container {
    flex-direction: row;
  }
  .header__massages-counter {
    justify-content: flex-start;
  }

  .header__massages-title {
    font-size: 32px;
  }

  .header__search-field {
    margin-top: 0px;
  }

  .header__counter {
    font-size: 22px;
    height: 30px;
  }
}
