.post {
  margin: 30px 0px;
  border-radius: 6px;
  box-shadow: 0 8px 24px -14px rgba(75, 78, 128, 0.2);
  background-color: #ffffff;
  margin-top: 14px;
  width: 100%;
}

.post__title {
  color: #09d3ac;
}

.post__user-name {
  font-weight: bold;
}

.post__user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
