.login-form {
    text-align: center;
}

.login_form__title {
  opacity: 0.8;
  font-family: Gotham, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #262626;
}

.login-form__email-container {
    margin-top: 32px;
}
  
.login-form__pwd-container {
    margin-top: 24px;
}

.login-form__user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10%;
}

.login-form__error {
    margin-top: 24px;
    border-radius: 4px;
    background-color: rgba(237, 65, 89, 0.25);
    font-family: Gotham, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #ed4159;
    padding: 14px;
}

@media screen and (min-width: 768px) {
    .login-form__title {
      font-size: 24px;
    }
  
    .login-form__email-container {
      margin-top: 48px;
    }
  
    .login-form__pwd-container {
      margin-top: 32px;
    }
  
    .login-form__error {
      margin-top: 32px;
      font-size: 14px;
      padding: 14px 16px;
    }
  }